
@mixin flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin respond($breakpoint) {    
    @if $breakpoint == mobile {
        @media only screen and (max-width:769px) { @content };
    }
    @if $breakpoint == laptop-small {
          @media only screen and (max-width:1024px) { @content };
     }
    @if $breakpoint == laptop {
      @media only screen and (max-width:1279px) { @content };
    } 
}