//Colors
$color-primary:#030932;
$color-secondary:#030932;
$color-tertiary:#214DA1;
$color-white:#ffffff;
$color-black:#000000;
$color-gray:#fefefe;
$color-gray-light:#ebe9e9;
$color-gray-dark:#4a4453;
$input-gray:#7a7485;

$shadow:rgba(220,226,233,0.33);

$error:#de0000;
$aproved:#23802f;
//$disabled:#c8c9c7;
$disabled:#ebe9e9;
$disabled-2:#707070;

$button-link:#4338fc;
$hover:#1c12d3;
$hover-select:#dddbfe;
$selected-select:#f4f3ff;
$active:#020d74;


//font-size
$default-font-size:1.8rem;
$title:5.2rem;
$h1:4rem;
$h2:2.6rem;
$h3:2rem;
$medium-text:1.8rem;
$small-text:1.6rem;

//font style
$regular:"Assistant-Regular";
$semiBold: "Assistant-SemiBold";
$bold:"Assistant-Bold";