//Colors
$color-primary:#030932;
$color-secondary:#1f1f1f;
$color-white:#ffffff;
$color-black:#000000;

//font-size
$default-font-size:1.6rem;
$title:3rem;
$h1:4rem;
$medium-text:2rem;
$small-text:1.6rem;

//font style
$regular:"Assistant-Regular";
$semiBold: "Assistant-SemiBold";
$bold:"Assistant-Bold";