*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}


body {
  font-family: $regular;
  box-sizing: border-box;
  font-size: $default-font-size;
  color: $color-primary;
  background: #ebebeb;
  height: 100%;
}

img {
  align-self: center;
}

p {
  margin: 0;
  display: inline-block;
  font-family: $regular;
  direction: rtl;
}


a {
  text-decoration: none;
  font-family: $regular;
  cursor: pointer;
}


.button-basic {
  width: fit-content;
  border: none;
  outline: transparent;
  background: $color-secondary;
  color:$color-white;
  font-size: $default-font-size;
  border-radius: 10px;
  font-family: $regular;
  padding: 0 10px;
  cursor: pointer;
}

::placeholder {
  color: $color-primary;
  font-size: $medium-text;
}

//scroll styles
::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 0.3rem;
}

::-webkit-scrollbar-track {
  background: #e7e6ea;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 1rem;
}

.darkTheme{
  :host{
    header{
      background: $color-white;
      color:$color-black;
      .navigation{
        a{
          color:$color-black;
        }
      }
    }
    .home-container{
      .weather-form{
        .weather-result-container{
          background: $color-black;
          color:$color-white;
        }
      }

      
    }
   
  }

}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent;
}